{% extends "home/base.html" %}
{% load static %}

{% block content %}
<br><br><br><br>
<h2 class="font-alt">Clara Inés Tortora</h2>
<img src="{% static 'home/img/foto-about-me.png' %}" alt="mifoto" style="height: 500px;" />
<h3>Breve descripción sobre mi</h3>
<p>¡Hola! soy Clara. Desde marzo de 2022 que comencé con este mundo de la programación. Mi primer acercamiento fue estudiando en Codo a Codo Desarrollo Full Stack, que me gustó bastante pero a penas vimos Python que es lo que más me interesaba aprender.</p>
<p>Luego de terminar ese curso, comencé a estudiar Python por mi cuenta en Udemy y este año decidí comprarme el curso de Coder para seguir aprendiendo. Fuera de los estudios, me encantan los videojuegos, salir a pasear y disfrutar de las cosas básicas como tomar mate y estar con las personas que quiero. 
Este curso sentí que me sirvió mucho por todo el material y lo mucho que le estuve metiendo a la práctica, a pesar de que aún sé que me falta mucho más, pero me siento muchísimo más confiada que hace tres meses atrás.</p>

{% endblock content %}