      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">CeluTec</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link {% if request.path == '/home/'%} active {% endif %}"" aria-current="page" href="{% url 'home:index' %}">Inicio</a></li>

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-bg-light">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/producto/'%} active {% endif %}" href="{% url 'producto:index' %}">Productos</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/oferta/'%} active {% endif %}" href="{% url 'producto:ofertas' %}">Ofertas</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/logout/'%} active {% endif %}" href="{% url 'home:logout' %}">Cerrar sesión</a></li>
                    
                    {% else %}
                    <li class="nav-item"><a class="nav-link {% if request.path == '/login/' %} active {% endif %}" href="{% url 'home:login' %}">Iniciar sesión</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == '/aboutme/'%} active {% endif %}" href="#bg-light">Sobre mi</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>