{% extends 'home/base.html' %}

{% block content %}

<h1 class="shadow-lg text-center">ofertas</h1>
<div style="display: flex; flex-direction: column; align-items: center; padding: 1rem; padding-bottom: 4rem;">
{% block content_producto %}


<h3 class="font-alt"><u>OFERTAS</u></h3>

<br>
<div style="display: flex; justify-content: center; gap: 2rem;">    
    <div class="d-grid gap-3">

        {% if user.is_staff %}
            <a href="{% url 'producto:oferta_create' %}" type="submit"class="btn btn-warning">Crear oferta</a>
        {% endif %}
        <br>
            <a href="{% url 'producto:oferta_list' %}" type="submit"class="btn btn-primary">Ver listado de ofertas</a> <br>
        </div>
</div>

      
          {% endblock content_producto %}
    

</div>
{% endblock content %}