{% extends 'producto/index.html' %}
{% load static %}


{% block title %} Detalle de productos {% endblock title %}
{% block content_producto %}
<div class="shadow p-3 mb-2 bg-body rounded">
<div class="card" style="width: 25rem; padding: 0rem; margin: 1rem;">
<br>
     <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between">
        <div style="padding-bottom: 1rem;">

            <h5 class="card-title"style="text-align: center;">{{ object.modelo }}</h5>
            <p class="card-text"style="text-align: center;">{{ object.descripcion }}</p>
            <p class="card-text" style="text-align: center;"><strong>$ {{ object.precio }}</p>
            <p class="card-text"style="text-align: center;""><span style="text-decoration: underline;">Stock: </span>{{ object.stock }}</p>
            <p class="card-text"style="text-align: center;" ><span style="text-decoration: underline;">Fecha de publicación: </span>{{ object.fecha_de_publicacion }}</p>
        </div>
            <img
            {% if object.imagen_producto %}>
            <img src="{{ object.imagen_producto.url }}" width="200" height="200" class="card-img-top img-fluid" alt="example">

            {% else %}
            <img src="{% static 'home/img/celular-not-found.jpg' %}" alt="celular404" style="height: 200px;"/> 
            {% endif %}

        
     </div>
        
    </ul>
</div>
</div>
    {% include 'producto/index_back.html' %}


{% endblock content_producto %}